:root {
    --primary-orange-color: #FDF1EB;
    --primary-orange-color-darker: #ED7839;
  }

  * {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 13.75rem 1fr;
}

.side-menu {
    width: 13.75rem;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.event-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.25rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.event-name p {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: 2.188rem;
    text-align: center;
}

.event-logo {
    height: 16.125rem;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu-item {
    height: 2.063rem;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E7E7E7;
}

.menu-item:nth-child(5) {
    background: var(--primary-orange-color)
}

.active-bar {
    height: 33px;
    width: 5px;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

.menu-item a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    margin-left: 1.5rem;
}

.hero-header {
    margin: 0;
    padding: 0;
}

.header-container {
    background: var(--primary-orange-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.geral-info p {
    margin: 0;
    margin-left: 2.25rem;
}

.geral-info p:nth-child(1) {
    margin-top: 0.313rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #725C5C;
    line-height: 16px;
}

.geral-info p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #725C5C;
    line-height: 26px;
}

.geral-info p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #725C5C;
    line-height: 16px;
    margin-bottom: 0.313rem;
}

.user-preferences {
    display: flex;
    margin: 0;
    margin-right: 2.25rem;
    justify-content: space-around;
    align-items: center;
}

.header-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 2.12rem;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-right: 1.2rem;
}

.dropdown-icon {
    margin-bottom: 2px;
}

.dropdown-arrow {
    margin-left: 5px;
}

.header-dropdown p {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #333333;
    padding: 0;
}

.header-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.3rem;
}

.header-login p {
    margin: 0;
    text-align: right;
}

.header-login p:nth-child(1) {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.header-login p:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
}

.user-login {
    position: relative;
}

.user-photo {
    border-radius: 50%;
}

.notification {
    background: #F85959;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    z-index: 1;
    position: absolute;
    top: -4px;
    right: -1px;
}

.hero-main {
    margin: 1.25rem 2.65rem;
}

.hero-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.875rem;
}

.hero-main-video {
    flex: 0 1 48.94rem;
}

.hero-main-sidetab {
    display: flex;
    flex-direction: column;
    width: 15.12rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 8px;
}

.hero-main-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: var(--primary-orange-color-darker);
}

.detail-btn p:nth-child(2) {
    display: none;
}

.detail-btn {
    width: auto;
    height: 1.93rem;
    padding: 0 13.5px;
    background: var(--primary-orange-color-darker);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

.quote {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    text-align: right;
    letter-spacing: 0.05em;
    color: var(--primary-orange-color-darker);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.details {
    border: 1px solid #ECECEC;
    border-radius: 3px;
    height: 437px;
}

.details-header {
    height: 45px;
    background: var(--primary-orange-color);
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}

.details-header p{
    margin: 0;
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #4E4E4E;
}

.details-content {
    margin: 15px;
    position: relative;
}

.scroll-bar {
    position: absolute;
    background: #E7E7E7;
    border-radius: 5px;
    width: 3px;
    height: 367px;
    right: -10px;
    top: -5px;
}

.scroll-bar-roll {
    position: absolute;
    background: #BFBFBF;
    border-radius: 5px;
    width: 3px;
    height: 200px;
    right: -10px;
    top: -5px;
    z-index: 1;
}

.details-content-info {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #5C5C5C;
    margin-bottom: 30px;
}

.details-content-info p{
    margin: 0;
}

.author-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.details-content-authors {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #5C5C5C;
    letter-spacing: 0.02em;
}

.details-content-authors p{
    margin: 6px;
}

.details-content-university {
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #CCCCCC;
}

.details-content-university p{
    margin: 4px;
}

.video-presentation{
    width: 783px;
    height: 439px;
}

.video {
    margin-top: 19px;
    position: relative;
    background: rgba(141, 54, 6, 0.5);
    border-radius: 3px;
    width: 783px;
    height: 439px;
}

.video-container {
    position: absolute;
    z-index: -1;
}

.video-container img {
    position: absolute;
}

.content-p1 {
    position: absolute;
    top: 35px;
    left: 32px;
}

.content-p1 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.content-p2 {
    position: absolute;
    bottom: 42px;
    left: 132px;
}

.content-p2 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    line-height: 25px;
}

.content-p2 p:nth-child(1) {
    font-size: 34px;
}

.content-p2 p:nth-child(2) {
    font-size: 20px;
}

.content-master {
    position: absolute;
    border-radius: 50%;
    outline: #ED7839 solid 1px;
    outline-offset: 2px;
    bottom: 52px;
    left: 31px;
}

.summary {
    max-width: 100%;
    max-height: 11.813rem;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 30px;
}

.test {
    display: flex;
    flex-direction: column;
    max-height: 144px;
}

.content-header {
    background: var(--primary-orange-color);
    height: 45px;
    border-bottom: 1px solid #ECECEC;
    color: #4E4E4E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.content-header p {
    margin: 0;
    margin-left: 15px;
    
}

.summary-text {
    margin: 0.938rem;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 23px;
    color: #5C5C5C;
}

.show-more {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-orange-color-darker);
}

.testezao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discussion {
    margin-top: 1.875rem;
    max-width: 67.5rem;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.discussion-title {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--primary-orange-color-darker);
    margin-top: 15px;
}

.discussion-icons {
    display: flex;
    justify-content: center;
    margin-top: 1.688rem;
    gap: 3.359rem
}

.discussion-content {
    width: 39.125rem;
    justify-content: center;
    margin: auto;
    margin-top: 2.688rem;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
}

.discussion-btn {
    width: 8.313rem;
    height: 2rem;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discussion-btn p {
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.plus-x {
    background: #FFFFFF;
    height: 17px;
    width: 3px;
    border-radius: 1px;
    margin-right: 12px;
    position: relative;
}

.plus-y {
    background: #FFFFFF;
    height: 3px;
    width: 17px;
    border-radius: 1px;
    position: absolute;
    left: -7px;
    top: 7px;
}

.line {
    width: 64.188rem;
    height: 1px;
    background: #E7E7E7;
    position: absolute;
    z-index: -1;
}

.main-card {
    margin: 1.063rem 1.448rem 1.125rem 1.511rem;
}

.container-discussion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-discussion {
    width: 64.25rem;
    margin: 0.938rem 0.938rem 1.063rem;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.cards-header p:nth-child(1) {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary-orange-color-darker);
    margin-bottom: 0.188rem;
}

.cards-header p:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.cards-body p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
}

.cards-footer {
    display: flex;
    gap: 0.938rem;
    align-items: center;
}

.cards-footer p:nth-child(1) {
    color: var(--primary-orange-color-darker);
    font-size: 1.5em;
}

.cards-footer p:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.688rem;
    height: 1.188rem;
    font-size: 0.75em;
    color: #FFFFFF;
    background: var(--primary-orange-color-darker);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.cards-footer p:nth-child(n+3):nth-child(-n+4) {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}

.hero-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.125rem 2.875rem 0px 0.875rem;
}

.footer-img {
    width: 67.875rem;
    height: 11.313rem;
}